::ng-deep .OpenWeatherModal {

    .open-weather {
        display: flex;
        height: 100%;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        height: 100%;
        width: 30%;
        font-size: 2rem;
        background-color: rgb(74, 149, 255);
        color: whitesmoke;

        .city-info {
            font-size: 2rem;
        }

        .city-time {
            font-size: 2.4rem;
        }

        .temp {
            font-size: 2.3rem;
        }

        .city-description {
            font-size: 2rem;
        }
    }

    .right {
        height: 100%;
        width: 70%;
        background-color: rgb(194, 221, 238);

        .weather-details {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2.5rem;
            margin-top: 50px;
        }

        .detail {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
            width: 250px;
            height: 125px;
            background-color: whitesmoke;
            border: 1px solid whitesmoke;
            border-radius: 2rem;
        }

        .title {
            margin-left: 1.2rem;
            margin-top: .8rem;
            letter-spacing: .05rem;
            font-weight: 550;
        }

        .value {
            align-self: center;
            font-size: 2.5rem;
            font-weight: 550;
        }
    }
}
