#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.Title {
    font-size: 3.5rem;
    font-weight: 650;
    letter-spacing: .1rem;
    margin-top: 4rem;
}

#Add_Button {
    transform: scale(3);
    display: flex;
    justify-content: center;
    align-items: center;
}