.weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 240px;
    width: 250px;
    font-size: 2rem;
    padding: 4.5rem;
    margin: 1.4rem;
    color: whitesmoke;
    white-space: nowrap;
    background-color: rgb(120, 165, 255);
    border-radius: 1rem;
    border: 2px solid black;
    transition: 0.15s;
}

.full-width {
  width: 200px;
}

.weather-card:hover {
  color: rgb(120, 165, 255);
  background-color: whitesmoke;
  transform: scale(1.05);
  cursor: pointer;
  
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}

.weather-info {
  .location {
    font-weight: 580;
    font-size: 2.8rem;
  }
  .description {
    font-size: 2.5rem;
  }
  .temperature {
    font-size: 2.4rem;
  }
  .high-low {
    font-size: 2.2rem;
  }
}

.last-updated {
  position: absolute;
  font-size: 1.5rem;
  top: 15px;
  left: 15px;
}

.weather-button {
    position: absolute;
    top: 10px;
  }
  
  .button_update {
    right: 70px;
  }
  
  .button_delete {
    right: 10px;
  }